@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

.Flex_page {
  display: flex;
  background-color: #27213a;
  margin-top: 77px;
}
.home {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.title {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.3em;
  padding-top: calc(5px + 1.5625vw);
  margin: calc(40px + 1.5625vw);
  margin-bottom: 0;
}
h1 {
  font-size: calc(64px + 0.390625vw);
  color: #689689;
  line-height: 95px;
}
.text {
  color: #ffffff;
  font-size: calc(20px + 0.390625vw);
  font-family: "Open Sans";
  margin: calc(40px + 1.5625vw);
  letter-spacing: 0.1em;
  width: 150%;
}
div > .text > .textpad {
  margin-bottom: calc(35px + 1.5625vw);
}
.boxdl {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  margin-left: calc(120px + 1.5625vw);
  margin-top: calc(0px + 1.5625vw);
  width: 23%;
  background: #689689;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.45),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: calc(0px + 1.5625vw);
}
.boxdl:hover {
  display: flex;
  justify-content: center;
  background: #ebf4fa;
  transition: 0.5s;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Oswald:wght@700&display=swap");
.boxdl .dl {
  font-size: 24px;
  font-weight: bold;
  font-family: "Open Sans";
  color: #aa5042;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.1em;
  margin-left: 10px;
  margin-top: 5px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo_svg {
  margin-top: calc(-570px - 1.5625vw);
  margin-left: calc(100px + 1.5625vw);
  width: 90%;
}

.filtersvg1 {
  margin-top: calc(-260px - 1.5625vw);
  margin-left: calc(-350px - 1.5625vw);
}
.filtersvg2 {
  margin-top: calc(-160px - 1.5625vw);
  width: 50%;
}

.filtersvg3 {
  margin-right: calc(-360px - 1.5625vw);
  margin-top: calc(-100px - 1.5625vw);
  width: 100%;
}

#first {
  z-index: 2;
}

#two {
  z-index: 1;
}
