@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

.Flex_page {
  display: flex;
  background: #27213a;
}
.home {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.title {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.3em;
  padding-top: calc(10px + 1.5625vw);
  margin: calc(40px + 1.5625vw);
  margin-bottom: 0;
}
h1 {
  font-size: calc(64px + 0.390625vw);
  color: #689689;
  line-height: 95px;
}
.text {
  color: #ffffff;
  font-size: calc(20px + 0.390625vw);
  font-family: "Open Sans";
  margin: calc(40px + 1.5625vw);
  letter-spacing: 0.1em;
}
div > .text > .textpad {
  margin-bottom: calc(35px + 1.5625vw);
}
.boxdl {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 0 calc(10px + 1.5625vw);
  margin-left: calc(80px + 1.5625vw);
  margin-top: calc(0px + 1.5625vw);
  width: 14%;
  background: #689689;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.45),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.boxdl:hover {
  display: flex;
  justify-content: center;
  background: #ebf4fa;
  transition: 0.5s;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Oswald:wght@700&display=swap");
.boxdl .dl {
  font-size: 24px;
  font-weight: bold;
  font-family: "Open Sans";
  color: #aa5042;
  text-align: center;
  text-decoration: none;
  padding: 0.8em 2em;
  letter-spacing: 0.1em;
}
.filter {
  background: rgba(170, 80, 66, 0.4);
  filter: blur(100px);
  width: 30%;
  padding-left: 20px;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 80px;
}
.filter2 {
  background: rgba(138, 151, 147, 0.5);
  filter: blur(100px);
  height: 100%;
  width: 60%;
  margin-right: 200px;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 100px;
}
.logo_svg {
  padding-left: calc(120px + 1.5625vw);
  padding-top: calc(130px + 1.5625vw);
}
