@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

.home {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  background: #27213a;
}
.title {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.05em;
  font-size: 64px;
  padding-top: 40px;
  margin: 40px;
}
h1 {
  font-size: 64px;
  color: #689689;
  line-height: 95px;
}
.text {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #ffffff;
  font-size: 28px;
  font-family: "Open Sans";
  margin: 40px;
  letter-spacing: 0.1em;
}
div > .text > .textpad {
  margin-bottom: 50px;
}
.boxdl {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 0 20px;
  margin-left: 90px;
  margin-top: 50px;
  width: 10%;
  background: #689689;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.45),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.boxdl:hover {
  display: flex;
  justify-content: center;
  background: #ebf4fa;
  transition: 0.5s;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Oswald:wght@700&display=swap");
.boxdl .dl {
  font-size: 24px;
  font-weight: bold;
  font-family: "Open Sans";
  color: #aa5042;
  text-align: center;
  text-decoration: none;
  padding: 0.8em 2em;
  letter-spacing: 0.1em;
}
.filter {
  background: rgba(170, 80, 66, 0.4);
  filter: blur(100px);
  width: 15%;
  padding-left: 20px;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 80px;
}
